@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


* {
  font-family: 'Raleway', sans-serif;
}

.App {
  background-color: #ECECEC;
  height: 100vh;
  padding-top: 2em;

}

.container {
  height: 80vh;
  width:50vw;
  margin: 3em auto;
  background-color: white;
  border-radius: 3%;
  padding: 1em;
}

input[type=text] {
  border: none;
  border-bottom: 1px solid #ECECEC;
}


/* student information */

.student_container {
  border-bottom: 1px solid #ECECEC;
  padding: .5em;
}

.student_list {
  display: flex;
  justify-content: space-between;
}

.student_header {
  display: flex;
  padding: 1em;
  text-align: left;
  gap:2em;
}

.avatar {
  width: 8em;
  height: 8em;
  border-radius: 50%;
  border: #ECECEC solid 2px;
}

.student_details p {
  margin-left: 1.5em;
  font-weight:300;
  font-size: small;
  margin-bottom: 0;
  color: black;

}

.uppercase {
  text-transform: uppercase;
  font-weight: 700;
  font-size:2.5em;
  margin: 0;
}


.student_container a {
  font-size: xx-large;
  color: dimgrey;
}


.search_bar {
  width: 100%;
  margin: .5em 0;
  outline: none;
}

/* tag styles  */


.tag_add {
  margin-left: 1.5em;
  font-size: small;
  width: 7em;
  padding: .5em;
  outline: none;
}

.tags {
  display: flex;
  gap: .25em;
  padding-left: 1em;
  align-content:left;
  margin: .5em 0;
}

.tag {
  padding: .3em .7em;
  background-color: #ECECEC;
  border-radius: 15%;
  font-size: small;
}